<!-- 投稿履歴一覧ページ -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h1 class="heading">投稿一覧</h1>

      <!-- 投稿履歴一覧テーブル -->
      <% if user_signed_in? %>
        <%= render 'trains/login-index', trains: @trains %>
      <% else %>
        <%= render 'trains/public-index', trains: @trains %>
      <% end %>
    </div>
    <div class="pagination mx-auto" style="margin-bottom: 40px;">
      <%= paginate @trains %>
    </div>
  </div>
</div>