<div class="container">
  <div class="row">
    <div class="col-sm-8 mx-auto" style="text-align: center;">
      <h1>新規投稿</h1>
    </div>
    <div class="col-sm-8 mx-auto">

      <!-- 新規投稿フォーム -->
      <%= render 'trains/new_form', train: @train %>
    </div>
  </div>
</div>
