<table class='table'>
  <tr>
	  <th>ユーザー名</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>紹介文</th>
	  <th style="word-wrap:break-word;"><%= user.introduction %></th>
  </tr>
</table>
<div class="row">
  <%= link_to '登録情報を編集する',edit_users_path, class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>