<!-- ユーザー情報編集ページ -->
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1 class="heading">ユーザー情報編集</h1>

    <!-- ユーザー情報編集フォーム -->
    <%= render 'users/form', user: @user %>
  </div>
</div>
