<!-- マイページ -->
<div class='container'>
  <div class='row'>
    <div class='col-sm-8 mx-auto'>
      <h1 class="heading">MyPage</h1>

      <!-- ユーザーの情報 -->
      <%= render 'info', user: @user %>
    </div>
  </div>
</div>