<% @train.first(8).each do |train| %>
  <div class="card-deck mb-5 mr-2" style="width: 25%">
    <div class="card">
      <div class="card-image">
        <%= link_to train_path(train.id) do %>
          <%= attachment_image_tag train, :train_image, width: "100%" , height: "150px", fallback: "no_image.jpg" %>
        <% end %>
      </div>
      <div class="card-body">
        <div class="card-train-company font-weight-bold"><%= train.company %></div>
        <div class="card-train-body"><%= train.body %></div>
      </div>
    </div>
  </div>
<% end %>