<li>
  <%= link_to ' MyPage', user_path(@user), class: 'fas fa-users nav-link text-white' %>
</li>
<li>
  <%= link_to ' 投稿フォーム', new_train_path, method: :get, class: 'fas fa-wpforms nav-link text-white' %>
</li>
<li>
  <%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-white' %>
</li>